
<!-- SWITCH -->
<input type="checkbox" id="switch">
<label for="switch" class="switch"></label>
<div id="header">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="navbar-brand d-block d-lg-none" href="#">
        <img src="\assets\logo.png" style="width: 170px;">
        <!-- <a href="#"><h2 class="logo"><strong>S-Tech</strong>Technology Enterprises</h2></a> -->
      </div>
      <button class="navbar-toggler navbar_toggle" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <div class="navbar-brand d-none d-lg-block" href="#">

          <a href="#">

            <h5 class="logo center-logo"><strong>S-Tech</strong>Technology Enterprises</h5>
          </a>
        </div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Development</a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="service">service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="About_us">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contactus">Contact us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="career">Career</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>