<!-- Skills section -->

<body>
  <div class="banner">
    <div class="tapadera"></div>
    <div id="tito">
      <!-- <h1>We Build Your Software</h1> -->

      <h1 style="font-size: 100PX;">S.T.E</h1>


    </div>
  </div>

</body>


<section id="skills">
  <div class="skills-container">
    <!-- article -->
    <article class="skills-item">
      <i class="fa fa-code fa-3x"></i>
      <h1>Code</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem quod odit magnam quam officia nihil,
        laboriosam vel omnis laudantium, mollitia, eligendi iusto perspiciatis eaque officiis nisi. Reprehenderit
        temporibus mollitia suscipit.</p>
    </article>
    <!-- end of article -->

    <!-- article -->
    <article class="skills-item">
      <i class="fa fa-file-text-o fa-3x"></i>
      <h1>WebDevelopment</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem quod odit magnam quam officia nihil,
        laboriosam vel omnis laudantium, mollitia, eligendi iusto perspiciatis eaque officiis nisi. Reprehenderit
        temporibus mollitia suscipit.</p>
    </article>
    <!-- end of article -->

    <!-- article -->
    <article class="skills-item">
      <i class="fa fa-map-o fa-3x"></i>
      <h1>software development</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem quod odit magnam quam officia nihil,
        laboriosam vel omnis laudantium, mollitia, eligendi iusto perspiciatis eaque officiis nisi. Reprehenderit
        temporibus mollitia suscipit.</p>
    </article>
    <!-- end of article -->

    <!-- article -->
    <article class="skills-item">
      <i class="fa fa-desktop fa-3x"></i>
      <h1>hardware Repair</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem quod odit magnam quam officia nihil,
        laboriosam vel omnis laudantium, mollitia, eligendi iusto perspiciatis eaque officiis nisi. Reprehenderit
        temporibus mollitia suscipit.</p>
    </article>
    <!-- end of article -->

  </div>
</section>
<!-- end of section -->

<!-- services section -->
<section id="services">
  <!-- title -->
  <div class="title">
    <div class="title-text">
      <h1>Services</h1>
    </div>
    <div class="title-underline"></div>
  </div>
  <!-- end of title -->

  <div class="services-container">
    <!-- article -->
    <article class="service-item service-item-black">
      <div class="front-text">
        <i class="fa fa-gears fa-3x"></i>
        <h1>Web Development</h1>
      </div>

      <div class="back-text">
        <h1>Web Development</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis aliquid debitis eaque placeat expedita
          ipsam, nihil et pariatur.</p>
        <button type="button">Read More</button>
      </div>
    </article>
    <!-- end of article -->

    <!-- article -->
    <article class="service-item service-item-white">
      <div class="front-text">
        <i class="fa fa-pencil-square-o fa-3x"></i>
        <h1>Design & Branding</h1>
      </div>

      <div class="back-text">
        <h1>Design & Branding</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis aliquid debitis eaque placeat expedita
          ipsam, nihil et pariatur.</p>
        <button type="button">Read More</button>
      </div>
    </article>
    <!-- end of article -->

    <!-- article -->
    <article class="service-item service-item-black">
      <div class="front-text">
        <i class="fa fa-pie-chart fa-3x"></i>
        <h1>Hardware Development</h1>
      </div>

      <div class="back-text">
        <h1>Hardware Development</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis aliquid debitis eaque placeat expedita
          ipsam, nihil et pariatur.</p>
        <button type="button">Read More</button>
      </div>
    </article>
    <!-- end of article -->

    <!-- article -->
    <article class="service-item service-item-white">
      <div class="front-text">
        <i class="fa fa-line-chart fa-3x"></i>
        <h1>SEO & digital Marketing</h1>
      </div>

      <div class="back-text">
        <h1>SEO & digital Marketing</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis aliquid debitis eaque placeat expedita
          ipsam, nihil et pariatur.</p>
        <button type="button">Read More</button>
      </div>
    </article>
    <!-- end of article -->
  </div>
</section>
<!-- end of services section -->

<!-- Project section -->
<section id="projects">
  <!-- title -->
  <div class="title">
    <div class="title-text">
      <h1>Projects</h1>
    </div>
    <div class="title-underline"></div>
  </div>
  <!-- end of title -->
  <div class="projects-container">
    <!-- project item -->
    <article class="projects-item">
      <img src="https://www.theforage.com/blog/wp-content/uploads/2022/09/tech-companies.jpg" alt="coffee">
      <div class="img-text">
        <h1>Divyakshi Pvt Ltd</h1>
        <h6>Design, Web Development</h6>
      </div>
      <div class="img-footer">
        <i class="fa fa-comment-o"></i> 10
        <div class="footer-date">December 18, 2023</div>
      </div>
    </article>
    <!-- end of project item -->
    <!-- project item -->
    <article class="projects-item">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQX9rNxNoUmPE20sEF_8OZuVLzmYORjbrKT0TApmhmG3g&usqp=CAU&ec=48665699"
        alt="coffee">
      <div class="img-text">
        <h1>Just-Search</h1>
        <h6>Design, Web Development</h6>
      </div>
      <div class="img-footer">
        <i class="fa fa-comment-o"></i> 15
        <div class="footer-date">jan 10, 2023</div>
      </div>
    </article>
    <!-- end of project item -->
    <!-- project item -->
    <article class="projects-item">
      <img
        src="https://media.istockphoto.com/id/1335295270/photo/global-connection.jpg?s=612x612&w=0&k=20&c=pVIatR8XcihqKTDnISYXNWvSkpZkdeJJa3YNfk9zC6g="
        alt="coffee">
      <div class="img-text">
        <h1>iEveEra Seo</h1>
        <h6>Design, Web Development</h6>
      </div>
      <div class="img-footer">
        <i class="fa fa-comment-o"></i> 6
        <div class="footer-date">march 28, 2023</div>
      </div>
    </article>
    <article class="projects-item">
      <img src="https://img.freepik.com/free-photo/rpa-concept-with-blurry-hand-touching-screen_23-2149311914.jpg"
        alt="coffee">
      <div class="img-text">
        <h1>TCG Info Tech</h1>
        <h6>Design, Web Development</h6>
      </div>
      <div class="img-footer">
        <i class="fa fa-comment-o"></i> 6
        <div class="footer-date">march 28, 2023</div>
      </div>
    </article>
    <article class="projects-item">
      <img src="https://hexaware.com/wp-content/uploads/2019/10/Hi-Tech-Platforms-Information-Services.jpg"
        alt="coffee">
      <div class="img-text">
        <h1>Portfolio</h1>
        <h6>Design, Web Development</h6>
      </div>
      <div class="img-footer">
        <i class="fa fa-comment-o"></i> 6
        <div class="footer-date">march 28, 2023</div>
      </div>
    </article>
    <article class="projects-item">
      <img src="https://cdn.ces.tech/ces/media/articles/2022/october/innovation.jpg" alt="coffee">
      <div class="img-text">
        <h1>Kraft Theather </h1>
        <h6>Design, Web Development</h6>
      </div>
      <div class="img-footer">
        <i class="fa fa-comment-o"></i> 6
        <div class="footer-date">march 28, 2023</div>
      </div>
    </article>
    <!-- end of project item -->
  </div>
</section>
<!-- end of project section  -->

<!-- filler section -->
<section id="filler-contact">
  <h1>We Are Professional</h1>
  <button type="button">Contact Us</button>
</section>
<!-- end of filler section -->

<!-- post section -->
<section id="posts">
  <!-- title -->
  <div class="title">
    <div class="title-text">
      <h1>Recent posts</h1>
    </div>
    <div class="title-underline"></div>
  </div>
  <!-- end of title -->
  <div class="post-container">
    <!-- post item -->
    <article class="post-item">
      <!-- card -->
      <div class="img-container">
        <img src="https://s20.postimg.cc/91ozxj2b1/angular.jpg" alt="angular">
        <a href="https://blog.angular.io/" target="_blank"><i class="fa fa-search fa-3x"></i></a>
      </div>
      <div class="text-container">
        <h1>Angular</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam aliquid aut sequi at sed optio consequuntur
          nobis, nihil saepe similique vel iusto nesciunt explicabo aspernatur repudiandae in voluptatibus! Accusantium,
          quae!</p>
        <a href="https://blog.angular.io/" target="_blank">Read More</a>
      </div>
    </article>
    <!-- end of post item -->

    <!-- post item -->
    <article class="post-item">
      <!-- card -->
      <div class="img-container">
        <img src="https://s20.postimg.cc/tyl825xr1/react.jpg" alt="react">
        <a href="https://reactjs.org/blog/2017/12/15/improving-the-repository-infrastructure.html" target="_blank"><i
            class="fa fa-search fa-3x"></i></a>
      </div>
      <div class="text-container">
        <h1>React</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam aliquid aut sequi at sed optio consequuntur
          nobis, nihil saepe similique vel iusto nesciunt explicabo aspernatur repudiandae in voluptatibus! Accusantium,
          quae!</p>
        <a href="https://reactjs.org/blog/2017/12/15/improving-the-repository-infrastructure.html" target="_blank">Read
          More</a>
      </div>
    </article>
    <!-- end of post item -->

    <!-- post item -->
    <article class="post-item">
      <!-- card -->
      <div class="img-container">
        <img src="https://s20.postimg.cc/6kd8q8njh/javascript.png" alt="javascript">
        <a href="http://jsfeeds.com/" target="_blank"><i class="fa fa-search fa-3x"></i></a>
      </div>
      <div class="text-container">
        <h1>JavaScript</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam aliquid aut sequi at sed optio consequuntur
          nobis, nihil saepe similique vel iusto nesciunt explicabo aspernatur repudiandae in voluptatibus! Accusantium,
          quae!</p>
        <a href="http://jsfeeds.com/" target="_blank">Read More</a>
      </div>
    </article>
    <!-- end of post item -->
  </div>
</section>

<section class="we-offer-area text-center bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="site-heading text-center">
          <h2>What we <span>Offer</span></h2>
          <h4>Lorem Ipsum is simply dummy text</h4>
        </div>
      </div>
    </div>
    <div class="row our-offer-items less-carousel">
      <!-- Single Item -->
      <div class="col-md-4 col-sm-6 equal-height">
        <div class="item">
          <i class="fas fa-pen-fancy"></i>
          <h4>Project creation</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
      <!-- End Single Item -->

      <!-- Single Item -->
      <div class="col-md-4 col-sm-6 equal-height">
        <div class="item">
          <i class="fas fa-dharmachakra"></i>
          <h4>Software Development</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
      <!-- End Single Item -->

      <!-- Single Item -->
      <div class="col-md-4 col-sm-6 equal-height">
        <div class="item">
          <i class="fas fa-tasks"></i>
          <h4>Porject Management</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
      <!-- End Single Item -->

      <!-- Single Item -->
      <div class="col-md-4 col-sm-6 equal-height">
        <div class="item">
          <i class="fas fa-tachometer-alt"></i>
          <h4>Porject Impliment</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
      <!-- End Single Item -->

      <!-- Single Item -->
      <div class="col-md-4 col-sm-6 equal-height">
        <div class="item">
          <i class="fas fa-recycle"></i>
          <h4>Software Update</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
      <!-- End Single Item -->

      <!-- Single Item -->
      <div class="col-md-4 col-sm-6 equal-height">
        <div class="item">
          <i class="fas fa-headset"></i>
          <h4>24/7 Support</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
      <!-- End Single Item -->
    </div>
  </div>
</section>

<body>
  <div class="header">
    <div class="inner-header flex">
      <section>
        <h1 style="font-size: 2.5em;font-family: 'Open Sans', sans-serif; color: white;">Maintenance Websites Price List
        </h1>
        <div class="pricing pricing-palden">
          <div class="pricing-item features-item ja-animate" data-animation="move-from-bottom" data-delay="item-0"
            style="min-height: 497px;">
            <div class="pricing-deco">
              <svg class="pricing-deco-img" enable-background="new 0 0 300 100" height="100px" id="Layer_1"
                preserveAspectRatio="none" version="1.1" viewBox="0 0 300 100" width="300px" x="0px"
                xml:space="preserve" y="0px">
                <path class="deco-layer deco-layer--1"
                  d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z"
                  fill="#FFFFFF" opacity="0.6"></path>
                <path class="deco-layer deco-layer--2"
                  d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z"
                  fill="#FFFFFF" opacity="0.6"></path>
                <path class="deco-layer deco-layer--3"
                  d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716H42.401L43.415,98.342z"
                  fill="#FFFFFF" opacity="0.7"></path>
                <path class="deco-layer deco-layer--4"
                  d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z"
                  fill="#FFFFFF"></path>
              </svg>
              <div class="pricing-price"><span class="pricing-currency">$TWD</span>500
                <span class="pricing-period">/ day</span>
              </div>
              <h3 class="pricing-title">Basic</h3>
            </div>
            <ul class="pricing-feature-list">
              <li class="pricing-feature">1 Pages/Screens</li>
              <li class="pricing-feature">Responsive Design</li>
              <li class="pricing-feature">Content Upload</li>
            </ul>
            <button class="pricing-action">Choose plan</button>
          </div>
          <div class="pricing-item features-item ja-animate pricing__item--featured" data-animation="move-from-bottom"
            data-delay="item-1" style="min-height: 497px;">
            <div class="pricing-deco" style="background: linear-gradient(135deg,#a93bfe,#584efd)">
              <svg class="pricing-deco-img" enable-background="new 0 0 300 100" height="100px" id="Layer_1"
                preserveAspectRatio="none" version="1.1" viewBox="0 0 300 100" width="300px" x="0px"
                xml:space="preserve" y="0px">
                <path class="deco-layer deco-layer--1"
                  d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z"
                  fill="#FFFFFF" opacity="0.6"></path>
                <path class="deco-layer deco-layer--2"
                  d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z"
                  fill="#FFFFFF" opacity="0.6"></path>
                <path class="deco-layer deco-layer--3"
                  d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716H42.401L43.415,98.342z"
                  fill="#FFFFFF" opacity="0.7"></path>
                <path class="deco-layer deco-layer--4"
                  d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z"
                  fill="#FFFFFF"></path>
              </svg>
              <div class="pricing-price"><span class="pricing-currency">$TWD</span>2499
                <span class="pricing-period">/ month</span>
              </div>
              <h3 class="pricing-title">Premium</h3>
            </div>
            <ul class="pricing-feature-list">
              <li class="pricing-feature">10 Pages/Screens</li>
              <li class="pricing-feature">Responsive Design</li>
              <li class="pricing-feature">Content Upload</li>
            </ul>
            <button class="pricing-action">Choose plan</button>
          </div>
          <div class="pricing-item features-item ja-animate" data-animation="move-from-bottom" data-delay="item-2"
            style="min-height: 497px;">
            <div class="pricing-deco">
              <svg class="pricing-deco-img" enable-background="new 0 0 300 100" height="100px" id="Layer_1"
                preserveAspectRatio="none" version="1.1" viewBox="0 0 300 100" width="300px" x="0px"
                xml:space="preserve" y="0px">
                <path class="deco-layer deco-layer--1"
                  d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z"
                  fill="#FFFFFF" opacity="0.6"></path>
                <path class="deco-layer deco-layer--2"
                  d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z"
                  fill="#FFFFFF" opacity="0.6"></path>
                <path class="deco-layer deco-layer--3"
                  d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716H42.401L43.415,98.342z"
                  fill="#FFFFFF" opacity="0.7"></path>
                <path class="deco-layer deco-layer--4"
                  d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z"
                  fill="#FFFFFF"></path>
              </svg>
              <div class="pricing-price"><span class="pricing-currency">$TWD</span>999
                <span class="pricing-period">/ week</span>
              </div>
              <h3 class="pricing-title">Standard</h3>
            </div>
            <ul class="pricing-feature-list">
              <li class="pricing-feature">5 Pages/Screens</li>
              <li class="pricing-feature">Responsive Design</li>
              <li class="pricing-feature">Content Upload</li>
            </ul>
            <button class="pricing-action">Choose plan</button>
          </div>
        </div>
      </section>
    </div>
    <div>
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
          <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
      </svg>
    </div>
  </div>
</body>

