<!-- <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<footer class="hero">
        <div class="container flex">
            <div class="container__about">
                <h2>Address</h2>
                <p>Ashok Nagar Marol Pipe Line Bhagwan das Chawl A.K Road Andheri (E) Mumbai-400059</p>
            </div>
            <img src="\assets\logo.png" style="width: 300px;">

            <div class="container-pages flex">

                <div class="container__recentpages">
                    <h2>We Work</h2>
                    <ul>
                        <li><a href="#">Angular</a></li>
                        <li><a href="#">React</a></li>
                        <li><a href="#">Html</a></li>
                        <li><a href="#">Css</a></li>
                    </ul>
                </div>
                <div class="container__more">
                    <h2>Menu</h2>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Developement</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Career</a></li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="line__separete"></div>
        <div class="by flex">
            <p>Copyright © 2023 All Rights Reserved by S-Tech Technology Enterprises</p>
            <p>Developed by Susheel Gupta</p>
            <div class="icons">
                <a href="#" class="icon1 icon--instagram">
                    <i class="ri-instagram-line"></i>
                </a>
                <a href="#" class="icon1 icon--twitter">
                    <i class="ri-twitter-line"></i>
                </a>
                <a href="#" class="icon1 icon--linkedin">
                    <i class="ri-linkedin-line"></i>
                </a>
                <a href="#" class="icon1 icon--github">
                    <i class="ri-github-line"></i>
                </a>
            </div>
        </div>

    </footer> -->

    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">

    <footer>
    
      <div class="row-footer">
        <div class="site-logo">
          <span>S-TECH</span>
          <ul class="main-nav">
            <li class="item1">
              <span>S</span>
            </li>
            
            <li class="item2">
              <span>T</span>
            </li>
            <li class="item3">
              <span>C</span>
            </li>
            <li class="item4">
              <span>H</span>
            </li>
          </ul>
        </div>
        <div class="site-links">
          <span>Laguages</span>
          <ul class="list-links">
            <li><a>Angular</a></li>
            <li><a>TypeScript</a></li>
            <li><a>React</a></li>
            <li><a>HTML & CSS / SCSS</a></li>
          </ul>
        </div>
        <!-- <div class="adr-email">
          <span>Address</span>
          <ul class="">
            <li class="location"><a><i class="fas fa-map-pin"></i>Casablanca, Morocco</a></li>
            <li class="email"><a href="mailto:barhoumi.meriem1@gmail.com?subject=subject text">barhoumi.meriem1@gmail.com</a></li>
          </ul>
        </div> -->
        <div class="subscribe-form">
          <input type="email" placeholder="Your E-Mail Address">
          <button type="submit">Subscribe</button>
          <p>I respect your privacy. Unsubscribe at any time.</p>
        </div>
      </div>
    
      <hr>
    
      <div class="row-footer">
        <div class="follow-icons">
          <li><span>Follow me here</span></li>
          <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fab fa-github"></i></a></li>
          <li><a href="#"><i class="fab fa-stack-overflow"></i></a></li>
          <li><a href="#"><i class="fab fa-codepen"></i></a></li>
        </div>
      </div>
    
    
      <div class="row-footer">
        <div class="right-dis">Made with <i style="color: red; font-size: 12px;" class="fas fa-heart"></i> by <strong>Susheel Gupta</strong></div>
        <div class="left-dis">Copyright <strong>S-Tech Technology Enterprises</strong> © 2023. All the rights are reserved.</div>
      </div>
    
    </footer>