<!-- <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<footer class="hero">
        <div class="container flex">
            <div class="container__about">
                <h2>Address</h2>
                <p>Ashok Nagar Marol Pipe Line Bhagwan das Chawl A.K Road Andheri (E) Mumbai-400059</p>
            </div>
            <img src="\assets\logo.png" style="width: 300px;">

            <div class="container-pages flex">

                <div class="container__recentpages">
                    <h2>We Work</h2>
                    <ul>
                        <li><a href="#">Angular</a></li>
                        <li><a href="#">React</a></li>
                        <li><a href="#">Html</a></li>
                        <li><a href="#">Css</a></li>
                    </ul>
                </div>
                <div class="container__more">
                    <h2>Menu</h2>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Developement</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Career</a></li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="line__separete"></div>
        <div class="by flex">
            <p>Copyright © 2023 All Rights Reserved by S-Tech Technology Enterprises</p>
            <p>Developed by Susheel Gupta</p>
            <div class="icons">
                <a href="#" class="icon1 icon--instagram">
                    <i class="ri-instagram-line"></i>
                </a>
                <a href="#" class="icon1 icon--twitter">
                    <i class="ri-twitter-line"></i>
                </a>
                <a href="#" class="icon1 icon--linkedin">
                    <i class="ri-linkedin-line"></i>
                </a>
                <a href="#" class="icon1 icon--github">
                    <i class="ri-github-line"></i>
                </a>
            </div>
        </div>

    </footer> -->